:root {
    --main-text: #111b13;

    --primary-1: #386641;
    --primary-2: #6a994e;
    --primary-3: #a7c957;

    --accent-1: #bc4749;
    --accent-2: #891516;

    --custom-bg-1: #f2e8cf;
    --custom-bg-2: #d6cbad;
}

body {
    font-family: 'Bitter', serif;
    background-color: var(--custom-bg-1);
}

h1, h2, h3 {
    font-family: 'Alegreya Sans', sans-serif;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 0.9rem;
}


a:link, a:hover {
    color: var(--accent-1);
}

a:visited, a:active, a::after {
    color: var(--accent-2);
}

.info-row {
    padding-top: 15px;
}

.card-body {
    background-color: var(--custom-bg-2);
}

.btn-outline-secondary, .btn-outline-secondary::after, .btn-outline-secondary:visited, .btn-outline-secondary:focus {
    color: var(--accent-1);
    border-color: var(--accent-1);
    background-color: var(--custom-bg-1);
    box-shadow: none;
    transition-duration: 0.4s;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active {
    background-color: var(--accent-1);
    border-color: var(--accent-1);
    color: white;
    box-shadow: none;
    transition-duration: 0.4s;
    /* --bs-btn-focus-shadow-rgb: 108,117,125; */
}

.customButton {
    --bs-btn-padding-y: .2rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .5rem;
}

.mini-icon {
    width: 15px;
}

.avatar {
    width: 300px;
    margin: auto;
}

.profile {
    text-align: center;
}

#middle-container {
    margin: auto;
}