html {
    font-family: 'Bitter', serif;
}

body {
    margin: 0;
    background-color: rgb(209, 236, 255);
    text-align: center;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    width: 40%;
    margin: 0 auto;
}

h2,
h3 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

div {
    padding: 2rem;
}

#landing {
    padding-top: 1rem;
    position: relative;
}

#float-1 {
    position: absolute;
    top: 75px;
    right: 125px;
}

#float-2 {
    position: absolute;
    left: 150px;
    bottom: 200px;
}