html {
    font-family: 'Bitter', serif;
    color: rgb(20, 30, 40);
}

body {
    margin: 0;
    background-color: rgb(209, 236, 255);
    text-align: center;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    width: 40%;
    margin: 0 auto;
}

h2,
h3 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

div {
    padding: 2rem;
    margin: 0.5rem;
}

p {
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.footer-link {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 200;
    font-size: 0.75rem;
    text-transform: uppercase;
}

#avatar {
    border-radius: 100%;
    width: 100%;
    max-width: 200px;
    border: 4px solid rgb(50, 60, 75);
}

#top-container {
    padding-top: 0.5rem;
    position: relative;
}